:root{
    --colorDeFondo: #fdd4e5;
}

html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
}  

body{
    background-color: var(--colorDeFondo);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}

a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;

}

img{
    max-width: 100%;
}

.barra{

    display: flex;
    line-height: normal;

    background-color: rgb(129, 30, 187);

    
}

nav{
    
    padding: 50px;
}




.column {
    float: left;
    width: 50%;
    padding: 10px;
  

}

.row:after {
    content: "";
    display: table;
    clear: both;
}




.izquierda{
    display: flex;
    margin: auto;
}

.fotito{
    width: 1000px;
    height: auto;
    margin-top: 80px;
   
}

.derecha{
    display: grid;
    margin: auto;
    
}

.participa{
    width: 150px;
    height: auto;
    margin-top: -30px;
    margin-left: 500px;
}

.texto{
    width: 800px;
    height: auto;
    margin-top: 200px;
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }


.centrar{
display: flex;

justify-content: center;
padding: 20px;
}

.termometro{
    display:flex;
    justify-content: center;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}

.container div{
    margin: 10px;
}

.container div label{
    cursor: pointer;
}

.container div label input[type="checkbox"]{
   display: none;
}

.container div label span{
    position: relative;
    display: inline-block;
    background: #fff;
    padding: 15px 30px;
    color: #424242;
    text-shadow: 0 1px 4px rgba(127, 4, 228, 0.5);
    border-radius: 30px;
    font-size: 20px;
    transition: 0.5s;
    user-select: none;
    overflow: hidden;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container div label span:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255, 255, 255, .1);
}

.container div label input[type="checkbox"]:checked ~ span
{
    background: rgb(195, 130, 224);
}

